<html lang="ko">
    {{ template "head.html" }}
    <body class="box" style="background-color: rgb(230,230,230);">
      {{ template "header.html" }}
      {{ template "leftside.html" }}
      {{ template "project_list.html" }}
      {{ template "project_contents.html" }}

      <div id="wrap">
          <a id="back-to-top"></a>
      </div>
      <!--<a style="position:fixed;bottom:10px;right:10px;" href="#project" title="맨 위로">맨 위로</a>-->

      {{ template "script.html" }}

      <script>
          $(document).ready(function(){
              $('#one').click(function(){
                  var offset = $('#one_cont').offset(); //선택한 태그의 위치를 반환
                  //animate()메서드를 이용해서 선택한 태그의 스크롤 위치를 지정해서 0.4초 동안 부드럽게 해당 위치로 이동함
                  $('html').animate({scrollTop : offset.top}, 400);
              });
          });

          $(function(){
              $('#back-to-top').on('click',function(e){
                  e.preventDefault();
                  $('html,body').animate({scrollTop:0},600);
              });

              $(window).scroll(function() {
                  if ($(document).scrollTop() > 100) {
                      $('#back-to-top').addClass('show');
                  } else {
                      $('#back-to-top').removeClass('show');
                  }
              });
          });

          function fnMove(seq){
              var offset = $("#div" + seq).offset();
              $('html, body').animate({scrollTop : offset.top-100}, 400);
          }
      </script>
    </body>
</html>