<html lang="ko">
    {{ template "head.html" }}
    <body>
      {{ template "header.html" }}
      {{ template "leftside.html" }}

      <div class="center content-view">
        <h3 class="center">프로젝트 내용</h3>
        <br>
        <table>

            {{ range . }}
            <br>
            <tr>
              <th><h5>{{ .Title }}</h5></th>
            </tr>
            <tbody>
                <td style="white-space: pre-line"><p>{{ .Content }}</p>
                    <img src="{{ .Root }}" alt="Unsplashed comp1.png" width="300">
                </td>
            </tbody>
            {{ end }}

        </table>
      </div>
      {{ template "script.html" }}
    </body>
</html>