<html lang="ko">
{{ template "head.html" }}
<body class="box" style="background-color: rgb(255,255,255);">
{{ template "header.html" }}
{{ template "leftside.html" }}
<div class="center content-view">
    <br>
    <div style="font-size: 3em">백준 문제 풀이</div>
    <br>
    <br>
    <table width="60%">
        <thread>
            <th width="10%">번호</th>
            <th width="70%">문제</th>
        </thread>
        {{ $Count := 0 }}
        {{ range. }}
        {{ $Count = .Count }}
            {{ if eq .No 0 }}

            {{ else }}
                <tbody style="background-color: rgba(240,240,240, 0.5);">
                    <td> {{ .No }} </td>
                    <td><a style="color: rgb(86, 152, 190);" href="/menu/?Handler=b_content&No={{ .No }}">{{ .Title }}</a></td>
                </tbody>
                <input id="cnt" type='button' value='cnt' onclick='Count("{{ $Count }}")' hidden>
                <input id="alt" type='button' value='alt' onclick='Alt()' hidden>
            {{ end }}
        {{ end }}
    </table>
    <br>
    <div class="margin-auto">
        <span style="float: left">문제 번호 : &nbsp;</span>
        <form method="GET" action="/menu/">
            <input type="text" name="Handler" value="b_search" hidden>
            <input type="text" style="float: left; margin-top: -10px;" size=20 name="no">
            <input type="submit" style="float: left;" value="검색">
        </form>
        {{ range . }}
            {{ if eq .Cookie "TRUE" }}
                <div id="b_dv" class="center">
                    <button style="float: right;" onclick="location.href='/menu/?Handler=b_write'">풀이 적기</button>
                </div>
            {{ else if eq .Cookie "FALSE" }}
                <div id="b_dv" class="right">
                    <span sytle="float: right; text-align: right;">관리자만 작성 가능합니다.</span>
                </div>
            {{ end }}
        {{ end }}
    </div>
    <script>
        var count = 0;
        var devide = 0;
        function Count(val) {
            devide = val/10;
            devide = Math.ceil(devide);
            count = parseInt(devide);
        }
        function Alt() {
            for (var i = 1; i <= count; i++) {
                var list = document.querySelector("#b_dv");
                list.innerHTML += "<input type='button' value=" + "'" + i + "'" + "onclick=" + "location.href='/menu/?Handler=b_main&Page=" + i + "&Count=" + count + "'" + "> &nbsp;";
            }
        }
        var ele1 = document.getElementById('cnt');
        var ele2 = document.getElementById('alt');
        ele1.click();
        ele2.click();
    </script>
</div>

<div id="wrap">
    <a id="back-to-top"></a>
</div>
<!--<a style="position:fixed;bottom:10px;right:10px;" href="#project" title="맨 위로">맨 위로</a>-->

<script>
    $(document).ready(function(){
        $('#one').click(function(){
            var offset = $('#one_cont').offset(); //선택한 태그의 위치를 반환
            //animate()메서드를 이용해서 선택한 태그의 스크롤 위치를 지정해서 0.4초 동안 부드럽게 해당 위치로 이동함
            $('html').animate({scrollTop : offset.top}, 400);
        });
    });

    $(function(){
        $('#back-to-top').on('click',function(e){
            e.preventDefault();
            $('html,body').animate({scrollTop:0},600);
        });

        $(window).scroll(function() {
            if ($(document).scrollTop() > 100) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        });
    });

    function fnMove(seq){
        var offset = $("#div" + seq).offset();
        $('html, body').animate({scrollTop : offset.top-100}, 400);
    }

</script>
{{ template "script.html" }}
</body>
</html>