<html lang="ko">
    {{ template "head.html" }}
    <body>
      {{ template "header.html" }}
      {{ template "leftside.html" }}
      <div class="content-view">
          {{ range . }}
        <h3>{{ .No }}번 문제</h3>
        <br>
        <table>
            <br>
            <tr>
              <th><h5>{{ .Title }}</h5></th>
            </tr>
            <tbody>
            {{ $content := .Content }}

                <input id="convert_button" type='button' value='conv' onclick='Inner("{{ $content }}")' hidden>
                <td id="convert" style="text-align: left;"></td>
                <!--<td style="white-space: pre-line"><p></p></td>-->
            </tbody>
            <script src="https://utteranc.es/client.js"
                    repo="rodvkf72/Utterances"
                    issue-term="url"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
            </script>
        </table>
          <br>
          <br>
          {{ end }}
      </div>
        <script>
            var ele1 = document.getElementById('convert_button');
            ele1.click();
            function Inner(txt) {
                document.getElementById('convert').innerHTML = txt;
            }

        </script>
        {{ template "script.html" }}
    </body>
</html>