<html lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <title>Kim's Blog - Project</title>
    </head>
    <body class="box">
        {{ template "header.html" }}
        {{ template "leftside.html" }}

        <div class="center content-view">
            {{ range . }}
            <div class="round center">
                <img class="img-padding" src="{{ .Root }}" alter="{{ .Name }}.png">
                <hr style="margin-top: 1%;">
                <div style="background-color: black; color: red;">장르 : {{ .Type }} </div>
                <hr>
                <div style="background-color: black; color: white;">게임명 : {{ .Name }} </div>
                <br style="line-height: 70%;">
            </div>
            {{ end }}

            <div class="divstyle" onclick="location.href='/menu/?Handler=g_write'" style="border: 1px solid black; border-radius: 5%; background-color: mintcream">
                <a href="#">게임 추가</a>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/static/js/materialize.js"></script>
        <script src="/static/js/init.js"></script>
    </body>
</html>