<html lang="ko">
    {{ template "head.html" }}
    <body>
      {{ template "header.html" }}
      {{ template "leftside.html" }}

      <div class="center content-view">
        <br><br><br>
    
        <div class="writestyle" id="write_form">
            <form method="POST" action="/menu/g_write">
            <!--<form method="POST" action="/menu/?Handler=g_write"> 기존 코드-->
                <br>
                <b>Game : </b><input class="center" type="text" name="game">
                <br><br><br>
                <b>Type : </b><input class="center" type="text" name="type">
                <br><br><br>
                <b>Src : </b><input class="center" type="text" name="root">
                <br><br>
                <input type="submit" value="게임 등록">
            </form>
        </div>
      </div>
        {{ template "script.html" }}
    </body>
</html>