<html lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <title>Kim's Blog - Main</title>
    </head>
    <body class="box">
      {{ template "header.html" }}
      {{ template "leftside.html"}}
        <div id="index-banner" class="parallax-container other-box1">
            <div class="section no-pad-bot">
                <div class="container">
                    <h2 class="center" style="color: #79ffc2"><br><br><br><br>Welcome To Kim's Log !</h2>
                </div>
            </div>
            <div class="parallax"><img src="/static/image/main_3.png" alt="Unsplashed comp1.png"></div>
        </div>
        <br><br>
        <div class="other-box2" style="color: rgb(10, 9, 36);">
            <!--<h1 class="center brown-text"><i class="material-icons">work</i></h1>-->
            <h3 ><strong>About</strong></h3><br>
            <hr style="width: 10%;"><br>
            <h6>This page is being created for individual study and portfolio purposes<br><br><br>
            The code used is Go lang, Apache server is used, and it is linked with MySQL<br><br><br>
            The design used the materialize framework<br><br><br>
            Components include a bulletin board and a project that has been in progress</h6>
            <br><br>
        </div>

      <div class="other-box1">
        {{ template "footer.html" }}
      </div>

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/static/js/materialize.js"></script>
        <script src="/static/js/init.js"></script>
    </body>
</html>