<html lang="ko">
    {{ template "head.html" }}
    <body class="box">
        <div id="loading">
            <image id="loading-image" src="/static/image/loading.gif" alt="Loading..." />
        </div>
      {{ template "header.html" }}
      {{ template "leftside.html"}}
        <div id="index-banner" class="parallax-container other-box1">
            <div class="section no-pad-bot">
                <div class="container">
                    <h2 class="center" style="color: #79ffc2"><br><br><br><br>Welcome To Kim's Log !</h2>
                </div>
            </div>
            <div class="parallax"><img src="/static/image/main_3.PNG" alt="Unsplashed comp1.png"></div>
        </div>
        <br><br>
        <div class="other-box2" style="color: rgb(10, 9, 36);">
            <!--<h1 class="center brown-text"><i class="material-icons">work</i></h1>-->
            <h3 ><strong>About</strong></h3><br>
            <hr style="width: 10%;"><br>
            <h6>이 페이지는 개인 학습 및 포트폴리오 목적으로 만들어졌습니다.<br><br><br>
            기술스택은 Go(v1.5), Echo Framework, MySQL, AWS, Docker 입니다.<br><br><br>
            디자인은 materialize Framework를 사용하였습니다.<br><br><br>
            구성요소로는 본인소개, 진행했던 프로젝트(수정 중), 게시판, 온라인 코딩문제(수정 중) 가 있습니다.</h6>
            <br><br>
        </div>

      <div class="other-box1">
        {{ template "footer.html" }}
      </div>
        {{ template "script.html" }}
        <script>
            $(window).load(function() {
                $('#loading').hide();
            });
        </script>
    </body>
</html>
