<html lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <title>Kim's Blog - Notice Board</title>
    </head>
    <body class="box">
      {{ template "header.html" }}
      {{ template "leftside.html" }}
      <div class="center content-view">
        <h3 class="center">게시판</h3>
        <br>
        <table width="60%">
            <hr class="border-hr">
            <thread>
                <tr style="background-color: rgb(230, 230, 230);">
                    <th width="10%">번호</th> <!--materialize.css 2973 line and 3027 line-->
                    <th width="60%">제목</th>
                    <!--<th width="10%">작성자</th>-->
                    <th width="15%">날짜</th>
                    <th width="15%">조회 수</th>
                </tr>
            </thread>
            {{ $Maxno := 0 }}
            {{ range . }}
            {{ $Maxno = .Maxno }}
            <tbody>
                <td>{{ .No }}</td>
                <td><a href="/menu/?Handler=n_content&No={{ .No }}">{{ .Title }}</a></td>
                <!--<td>{{ .Writer }}</td>-->
                <td>{{ .Date }}</td>
                <td>{{ .Click }}</td>
            </tbody>
            <input id="cnt" type='button' value='cnt' onclick='Count("{{ $Maxno }}")' hidden>
            <input id="alt" type='button' value='alt' onclick='Alt()' hidden>
            {{ end }}
        </table>
        <br>
        <div class="margin-auto">
            <div id="b_dv" class="center">
                <button style="float: right;" onclick="location.href='/menu/?Handler=n_write'">글쓰기</button>
            </div>
        </div>
        <br>
        <hr class="border-hr">
      </div>
        <script>
          var count = 0;
          var devide = 0;
          function Count(val) {
            devide = val/10;
            if (devide <= 1) {
                devide = 1;
            } else if (devide <= 2) {
                devide = 2;
            } else if (devide <= 3) {
                devide = 3;
            } else if (devide <= 4) {
                devide = 4;
            }
            count = parseInt(devide);
          }
          function Alt() {
            for(var i=1; i <= count; i++){
              var list = document.querySelector("#b_dv");
              list.innerHTML += "<input type='button' value=" + "'" + i + "'" + "onclick=" + "location.href='/menu/?Handler=n_main&Page=" + i + "&Count=" + count + "'" + "> &nbsp;";
            }
          }
          var ele1 = document.getElementById('cnt');
          var ele2 = document.getElementById('alt');
          ele1.click();
          ele2.click();
        </script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/static/js/materialize.js"></script>
        <script src="/static/js/init.js"></script>
    </body>
</html>