<html lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <title>Kim's Blog - Project</title>
    </head>
    <body class="box" style="background-color: rgb(230,230,230);">
      {{ template "header.html" }}
      {{ template "project_list.html" }}
      {{ template "project_contents.html" }}
    
    </script>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/static/js/materialize.js"></script>
      <script src="/static/js/init.js"></script>
    </body>
</html>